body{
  background-color: aliceblue;
}
.about-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  background: #f3faff;
  border-radius: 14px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.about-container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  font-size: 1.6rem;
  color: #6b46c1;
  margin-bottom: 10px;
}

.about-section p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 10px;
  text-align: justify;
}

.about-section ul {
  list-style-type: disc;
  margin-left: 25px;
  color: #555;
}

.about-section li {
  margin: 8px 0;
}
